# ------------------------------------------------------------
# Python Cache
# ------------------------------------------------------------
__pycache__/
*/__pycache__/
**/__pycache__/

.history
.vscode
*__pycache
